/* html .body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
} */

#bg-home {
    background: url("../img/bg-home.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 120vh;
}

.homepage {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* justify-content: space-between; */
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.garis-bawahhome {
    width: 60%;
    height: 2px;
    background-color: var(--primary-color);
    margin-left: 0px;
    line-height: 2;
    margin-top: 20px;
}

.keteranganpage {
    width: 40%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: Montserrat;
    font-weight: 100;
    color: #15b7b9;
    margin-top: 30px;
}

.btn-home2 {
    margin-top: -30px;
    padding: 0 50px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* padding-bottom: 50px; */
    /* align-items: end; */
}

.box-item {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-lk,
.btn-bo {
    display: inline-block;
    background-color: #00bcd4;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    min-width: 200px;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.btn-lk:hover,
.btn-bo:hover {
    background-color: #0097a7;
}

.desc-lk,
.desc-bo {
    margin-top: 15px;
    font-size: 30px;
    color: #333;
    line-height: 1.6;
    min-height: 500px;
}

@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
    }
}
