.fContainer-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.login-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-blend-mode: darken;
}

.login-wrapper {
    margin-top: 0px;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.background-signIn {
    background-image: url("../img/bg_signin.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
